.corp{
    background-color: lightgrey;
}

.titre{
    text-align: center
}

.boxes {
    display: flex;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    background-color: lightblue;

}

