<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static '/style.css'%}">
    <title>{% block title %}
        mon titre
        {% endblock %}
    </title>
</head>
<body class="corp">
<header>
		<h1 class="titre">{% block title2 %} {% endblock %}</h1>
    <article class="boxes">
		<nav>
            <ul>
                <li> <a href="#">Aéroports</a>
                    <ul>
                        <li><a href="/formulaire/"> Ajouter un aéroport</a></li>
                        <li><a href="/indexaeroport/"> Liste des aéroports</a></li>
                    </ul>
                </li>
                <li> <a href="#"> Avions</a>
                    <ul>
                        <li><a href="/formulaireavions/"> Ajouter un avion</a></li>
                        <li><a href="/indexavions/"> Liste des avions</a></li>
                    </ul>
                </li>
                <li> <a href="#"> Compagnies</a>
                    <ul>
                        <li><a href="/formulairecompagnies/"> Ajouter une compagnie</a></li>
                        <li><a href="/indexcompagnies/"> Liste des compagnies</a></li>
                    </ul>
                </li>
                <li> <a href="#"> Pistes</a>
                    <ul>
                        <li><a href="/formulairepistes/"> Ajouter une piste</a></li>
                        <li><a href="/indexpistes/"> Liste des pistes</a></li>
                    </ul>
                </li>
                <li> <a href="#"> Types d'avions</a>
                    <ul>
                        <li><a href="/formulairetypesavions/"> Ajouter un type d'avion</a></li>
                        <li><a href="/indextypesavions/"> Liste des types d'avions</a></li>
                    </ul>
                </li>
                <li> <a href="#"> Vols</a>
                    <ul>
                        <li><a href="/formulairevols/"> Ajouter un vol</a></li>
                        <li><a href="/indexvols/"> Liste des vols</a></li>
                    </ul>
                </li>
            </ul>
		</nav>
    </article>
</header>
    <article>
    {% block article1 %}

    {% endblock %}

    </article>
<br>

</body>
</html>